$primary-color-light: #3498db;
$secondary-color-light: #2ecc71;
$background-color-light: #ecf0f1;
$text-color-light: #2c3e50;

$primary-color-dark: #1abc9c;
$secondary-color-dark: #e74c3c;
$background-color-dark: #2c3e50;
$text-color-dark: #ecf0f1;

@mixin theme($theme) {
  @if $theme == light {
    --primary-color: #{$primary-color-light};
    --secondary-color: #{$secondary-color-light};
    --background-color: #{$background-color-light};
    --text-color: #{$text-color-light};
  } @else if $theme == dark {
    --primary-color: #{$primary-color-dark};
    --secondary-color: #{$secondary-color-dark};
    --background-color: #{$background-color-dark};
    --text-color: #{$text-color-dark};
  } @else {
    @warn "Unknown theme #{$theme}. Using dark theme by default.";
    --primary-color: #{$primary-color-dark};
    --secondary-color: #{$secondary-color-dark};
    --background-color: #{$background-color-dark};
    --text-color: #{$text-color-dark};
  }
}

[data-theme="dark"] {
  @include theme(dark);
}

[data-theme="light"] {
  @include theme(light);
}
